.overlayStyle {
position: fixed;
top: 0;
left: 0;
width: 100%;
height: 100%;
background: rgba(0,0,0,0.8);
display: flex;
justify-content: center;
align-items: center;
z-index: 999;
}

.modalStyle {
background: #0f172a;
padding: 2rem;
border-radius: 16px;
border: 1px solid rgba(255,255,255,0.1);
max-width: 400px;
width: 90%;
position: relative;
}

.btnx {
position: absolute;
top: 10;
right: 10;
background: none;
border: none;
color: white;
font-size: 1.5rem;
cursor: pointer;
}

.form{
display: flex;
flex-direction: column;
gap: 1rem }